<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>equijoins</title>
</head>
<body>
    <center>
        <h1>Equijoins Data</h1>
        <table border="3px">
            <tr>
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>MGR</th>
                <th>Hiredate</th>
                <th>Sal</th>
                <th>Comm</th>
                <th>Deptno</th>
                <th>Dname</th>
                <th>Dloca</th>
            </tr>


        {% for i in Empobj %}
            <tr>
                <td>{{i.empno}}</td>
                <td>{{i.ename}}</td>
                <td>{{i.job}}</td>
                <td>{{i.mgr.empno}}</td>
                <td>{{i.hiredate}}</td>
                <td>{{i.sal}}</td>
                <td>{{i.comm}}</td>
                <td>{{i.deptno.deptno}}</td>
                <td>{{i.deptno.dname}}</td>
                <td>{{i.deptno.dloc}}</td>

            </tr>
        {% endfor %}




        </table>
    </center>
</body>
</html>